body{
  background-color: antiquewhite;
  padding-top: 30px;
}

.debug{
  border: 1px solid black;
  background-color: rgba(210, 105, 30, 0.301);
}

.mail,
.dadi{
  background-color: chocolate;
  min-height: 200px;
  border-radius: 20px;
  color: rgb(235, 228, 214);
}

.sd-btn{
  background-color: brown;
  color: aliceblue;
  border-radius: 20px;
  padding: 10px 15px;
}

.output-mail{
  margin: 0 auto;
  min-height: 100px;
  width: 60%;
  border-radius: 20px;
  color: brown;
  background-color: aliceblue;
}

.output-dadi{
  min-height: 200px;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}

.number{
  width: 48%;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgb(180, 126, 230);
}

#output-human,
#output-pc{
  display: inline-block;
  font-size: 2.7rem;
}